In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as mns
import plotly.express  as px
%matplotlib inline

ModuleNotFoundError: No module named 'missingno'

In [ ]:
gdp=pd.read_csv('RealGDP08012022.csv')

In [ ]:
gdp.head()

,tyear,Period,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MiningAndQuarrying,CrudePetroleumAndNaturalGas,...,AdministrativeAndSupportServicesBusinessServices,PublicAdministration,Education,HumanHealthAndSocialServices,OtherServices,TOTAL_GDP,TotalGDPatConstantBasicPrices,NonOilGDPatConstantBasicPrices,NetIndirectTaxesOnProducts,TotalGDPatConstantMarketPrices
1981,Annual,2364373.15,1854764.44,341411.50,77897.99,90299.23,6603250.12,NaN,4977416.70,67136.73,...,807075.54,242555.85,110697.65,132700.20,15258004.34,NaN,NaN,NaN,NaN,NaN
1982,Annual,2425960.89,1897078.85,361115.70,73910.25,93856.08,6272828.03,NaN,4453093.63,54840.50,...,825921.69,248219.81,113282.57,133767.58,14985078.32,NaN,NaN,NaN,NaN,NaN
1983,Annual,2409081.92,1842704.31,393131.01,75282.78,97963.82,5264881.39,NaN,4052977.68,44014.84,...,844767.84,253883.77,115867.49,125819.69,13849725.17,NaN,NaN,NaN,NaN,NaN
1984,Annual,2303505.42,1759115.15,399685.38,76694.14,68010.74,5621181.44,NaN,4559196.21,43078.37,...,863613.99,259547.73,118452.41,103092.67,13779255.49,NaN,NaN,NaN,NaN,NaN
1985,Annual,2731062.47,2180907.71,428102.85,78082.45,43969.46,6379599.38,NaN,4918272.50,44539.09,...,882460.14,265211.69,121037.33,98790.30,14953913.05,NaN,NaN,NaN,NaN,NaN

In [ ]:
gdp.drop('tyear',axis=1, inplace=True)

In [ ]:
gdp.drop('Period',axis=1, inplace=True)

In [ ]:
gdp.head()

,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MiningAndQuarrying,CrudePetroleumAndNaturalGas,SolidMinerals,CoalMining,...,AdministrativeAndSupportServicesBusinessServices,PublicAdministration,Education,HumanHealthAndSocialServices,OtherServices,TOTAL_GDP,TotalGDPatConstantBasicPrices,NonOilGDPatConstantBasicPrices,NetIndirectTaxesOnProducts,TotalGDPatConstantMarketPrices
1981,1854764.44,341411.50,77897.99,90299.23,6603250.12,NaN,4977416.70,67136.73,NaN,NaN,...,807075.54,242555.85,110697.65,132700.20,15258004.34,NaN,NaN,NaN,NaN,NaN
1982,1897078.85,361115.70,73910.25,93856.08,6272828.03,NaN,4453093.63,54840.50,NaN,NaN,...,825921.69,248219.81,113282.57,133767.58,14985078.32,NaN,NaN,NaN,NaN,NaN
1983,1842704.31,393131.01,75282.78,97963.82,5264881.39,NaN,4052977.68,44014.84,NaN,NaN,...,844767.84,253883.77,115867.49,125819.69,13849725.17,NaN,NaN,NaN,NaN,NaN
1984,1759115.15,399685.38,76694.14,68010.74,5621181.44,NaN,4559196.21,43078.37,NaN,NaN,...,863613.99,259547.73,118452.41,103092.67,13779255.49,NaN,NaN,NaN,NaN,NaN
1985,2180907.71,428102.85,78082.45,43969.46,6379599.38,NaN,4918272.50,44539.09,NaN,NaN,...,882460.14,265211.69,121037.33,98790.30,14953913.05,NaN,NaN,NaN,NaN,NaN

In [ ]:
gdp.head()

,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MiningAndQuarrying,CrudePetroleumAndNaturalGas,SolidMinerals,CoalMining,...,AdministrativeAndSupportServicesBusinessServices,PublicAdministration,Education,HumanHealthAndSocialServices,OtherServices,TOTAL_GDP,TotalGDPatConstantBasicPrices,NonOilGDPatConstantBasicPrices,NetIndirectTaxesOnProducts,TotalGDPatConstantMarketPrices
1981,1854764.44,341411.50,77897.99,90299.23,6603250.12,NaN,4977416.70,67136.73,NaN,NaN,...,807075.54,242555.85,110697.65,132700.20,15258004.34,NaN,NaN,NaN,NaN,NaN
1982,1897078.85,361115.70,73910.25,93856.08,6272828.03,NaN,4453093.63,54840.50,NaN,NaN,...,825921.69,248219.81,113282.57,133767.58,14985078.32,NaN,NaN,NaN,NaN,NaN
1983,1842704.31,393131.01,75282.78,97963.82,5264881.39,NaN,4052977.68,44014.84,NaN,NaN,...,844767.84,253883.77,115867.49,125819.69,13849725.17,NaN,NaN,NaN,NaN,NaN
1984,1759115.15,399685.38,76694.14,68010.74,5621181.44,NaN,4559196.21,43078.37,NaN,NaN,...,863613.99,259547.73,118452.41,103092.67,13779255.49,NaN,NaN,NaN,NaN,NaN
1985,2180907.71,428102.85,78082.45,43969.46,6379599.38,NaN,4918272.50,44539.09,NaN,NaN,...,882460.14,265211.69,121037.33,98790.30,14953913.05,NaN,NaN,NaN,NaN,NaN

In [ ]:
# % of values missing in each column
values_list = list()
cols_list = list()
for col in gdp.columns:
    pct_missing = np.mean(gdp[col].isnull())*100
    cols_list.append(col)
    values_list.append(pct_missing)
pct_missing_df = pd.DataFrame()
pct_missing_df['col'] = cols_list
pct_missing_df['pct_missing'] = values_list

In [2]:
pct_missing_df.loc[pct_missing_df.pct_missing > 0].plot(kind='bar', figsize=(12,8))
plt.show()

NameError: name 'pct_missing_df' is not defined

In [3]:
gdp.drop('Industry',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [4]:
gdp.head()

NameError: name 'gdp' is not defined

In [5]:
gdp.drop('SolidMinerals',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [6]:
gdp.head()

NameError: name 'gdp' is not defined

In [7]:
gdp.drop('CoalMining',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [8]:
gdp.drop('MetalOres',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [9]:
gdp.head()

NameError: name 'gdp' is not defined

In [10]:
gdp.drop('ElectricityGasSteamAndAirCon',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [11]:
gdp.head()

NameError: name 'gdp' is not defined

In [12]:
gdp.drop('Manufacturing',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [13]:
gdp.drop('TotalGDPatConstantBasicPrices',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [14]:
gdp.drop('NetIndirectTaxesOnProducts',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [15]:
gdp.drop('TotalGDPatConstantMarketPrices',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [16]:
gdp.head()

NameError: name 'gdp' is not defined

In [17]:
gdp.drop('NonOilGDPatConstantBasicPrices',axis=1, inplace=True)

NameError: name 'gdp' is not defined

In [ ]:
gdp.head()

In [ ]:
#mns.bar(gdp,color='blue')

In [ ]:
gdp.info()

In [ ]:
gdp.columns

In [ ]:
gdp.head()