<a href="https://colab.research.google.com/github/Emadorao/Python-Jan-2023/blob/main/Copy_of_PythonFirst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("startpreneurs")

startpreneurs

In [ ]:
print("startpreneurs");

startpreneurs

In [ ]:
x=4
y="startpreneur"
print(x)
print(y)

4
startpreneur

In [ ]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[2])
print(thislist[0])

banana
cherry
apple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
thisdict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
};

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
   continue
print(i)

6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
adj = ["red", "big", "tasty"]
for x in adj:
 print(x)

red
big
tasty

In [ ]:
fruits = ["apple", "banana", "cherry"]
for y in fruits:
  print(y)

apple
banana
cherry

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
   print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
def my_function(x):
  return 5 * x
  print(my_function(3))
  print(my_function(5))

In [ ]:
def my_function(food):
 for x in food:
  print(x)
  fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
# This is a great programmming language